@{
	ViewData["Title"] = "Student Info";
}
@model List<DbTable>





<form asp-controller="StudentInfo" asp-action="Search" method="post">
	<input type="text" name="Searchstring"/>
	<input type="submit" value="Search" />
</form>



<div class="container">

	<div class="row pt-4">
		<div class="col-6"><h1 class="text-primary">Student List</h1></div>
		<div class="col-6 text-end"><a asp-controller="StudentInfo" asp-action="AddRecord" class="btn btn-primary">Add record</a></div>
	</div>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Lastname</th>
			<th scope="col">age</th>
		</tr>
	</thead>
	<tbody>
		@foreach(DbTable info in Model){
			<tr>
				<td>@info.Id</td>
				<td>@info.Name</td>
				<td>@info.Lastname</td>
				<td>@info.age</td>
				<td><a asp-controller="StudentInfo" asp-route-id ="@info.Id" asp-action="Edit">Edit</a></td>

			    <td>
					<form asp-controller="StudentInfo" asp-action="Delete" asp-route-Id="@info.Id" method="post">
					   <button type="submit" class="btn btn-danger btn-sm">Delete</button>
				    </form>
				</td>
			</tr>
		}
	</tbody>
</table>


</div>